### Pandas

In [41]:
import pandas as pd
import numpy as np
movies = pd.read_csv("movies_2.csv")
#movies.shape
#movies.info()
columns_to_check = ["MPAA Rating", "Budget", "Gross", "Release Date", "Genre", "Runtime", "Rating", "Rating Count"]
nan_count = movies[columns_to_check].isna()
nan_count.sum()

MPAA Rating       1
Budget            1
Gross             1
Release Date      1
Genre             1
Runtime           1
Rating          108
Rating Count    108
dtype: int64

In [49]:
#movies = movies.drop(columns=["Summary"])
movies = movies.rename(columns=str.lower)
movies = movies.drop(movies.index[-1])   # removing indeks 615 will not remove always the last indeks
#movies.rename(columns = lambda x: x.replace(' ','_'), inplace = True)
movies.columns = movies.columns.str.replace(" ","_") #overwriting a column with replaced value

how_many = movies["rating"].isna().value_counts()

movies.fillna({ 'rating': movies['rating'].median() }, inplace=True)
#how_many2 = movies["rating_count"].isna().value_counts()
movies.fillna({ 'rating_count': movies['rating_count'].median() }, inplace=True)
#movies.tail()
#duplicates = movies.duplicated(["titel"]).sum() keep: 2 subset = ["titel"]["release_date"] try it 

movies["budget"]= movies["budget"].astype("int32")
movies["gross"] = movies["gross"].astype("int32")
movies["release_date"] = pd.to_datetime(movies["release_date"])
movies.tail()

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
610,611,Godzilla: King of the Monsters,PG-13,200000000,385900000,2019-05-13,Adventure,132.0,6.9,240347.5
611,612,Toy Story 4,G,200000000,1062000000,2019-06-11,Animation,100.0,6.9,240347.5
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000,759400000,2019-07-13,Thriller,136.0,6.9,240347.5
613,614,The Lion King,PG,250000000,1632000000,2019-07-09,Drama,118.0,6.9,240347.5
614,615,Avengers: Endgame,PG-13,356000000,-2147483648,2019-04-22,Action,181.0,6.9,240347.5

show the movies with more than 7 in Rating & greater than 50 million Gross

show the movies with more than 7 in Rating & greater than 50 million Gross & with Parental guidance as MPAA Rating

show the count of Animation movies with more than 7 in Rating (use the shape() method)

show the top 5 movies based on Budget

show the top 5 Comedy movies by Rating

top 5 movie names by Rating

top 3 high Gross Romance movies released after 1999 (typecast it to datetime)

how many Genres are present in the dataframe? (use value_counts() method which applies to Series, not Dataframe)

top 5 most expensive movies released after 1999 (measured by Budget)

most & least frequent MPAA Rating in the dataset in terms of occurrences

most & least expensive Genre (take an average of all Budget measures grouped by Genre - use the groupBy() method)

which Genre is favoured the most?

In [50]:
movies[(movies["rating"] > 7) & (movies["gross"] > 50000000)]

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
1,2,Driving Miss Daisy,PG,7500000,145793296,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000,71079915,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000,161001698,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000,84431625,1989-04-21,Drama,107.0,7.5,101702.0
6,7,When Harry Met Sally...,R,16000000,92800000,1989-07-21,Romance,96.0,7.6,180871.0
...,...,...,...,...,...,...,...,...,...,...
505,506,Big Hero 6,PG,165000000,652105443,2014-10-24,Animation,102.0,7.8,380953.0
506,507,Interstellar,PG-13,165000000,675120017,2014-11-05,Science Fiction,169.0,8.6,1343549.0
507,508,Captain America: The Winter Soldier,PG-13,170000000,714766572,2014-03-20,Action,136.0,7.7,685903.0
508,509,Dawn of the Planet of the Apes,PG-13,170000000,710644566,2014-06-26,Science Fiction,130.0,7.6,395425.0
509,510,Guardians of the Galaxy,PG-13,170000000,773328629,2014-07-30,Action,121.0,8.0,978222.0

In [59]:
movies["mpaa_rating"].value_counts()

mpaa_rating
PG-13    285
PG       161
R        142
G         27
Name: count, dtype: int64

In [62]:

#movies[(movies["rating"] > 7) & (movies["gross"] > 50000000) & (movies["mpaa_rating"].str.contains("PG", case=False, na=False))]
movies[(movies["rating"] > 7) & (movies["gross"] > 50000000) & (movies["mpaa_rating"].str.contains("PG"))]
# case =false umożliwia wyszukiwanie niezależne od wielkości liter. ,a na = False - jeśli w kolumnie mamy wartości NaN to nie zostaną one uwzględnione

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
1,2,Driving Miss Daisy,PG,7500000,145793296,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000,71079915,1989-07-28,Crime,100.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000,84431625,1989-04-21,Drama,107.0,7.5,101702.0
7,8,Dead Poets Society,PG,16400000,235860116,1989-06-02,Drama,129.0,8.1,382002.0
11,12,National Lampoon's Christmas Vacation,PG-13,27000000,71320000,1989-12-01,Action,97.0,7.6,135690.0
...,...,...,...,...,...,...,...,...,...,...
505,506,Big Hero 6,PG,165000000,652105443,2014-10-24,Animation,102.0,7.8,380953.0
506,507,Interstellar,PG-13,165000000,675120017,2014-11-05,Science Fiction,169.0,8.6,1343549.0
507,508,Captain America: The Winter Soldier,PG-13,170000000,714766572,2014-03-20,Action,136.0,7.7,685903.0
508,509,Dawn of the Planet of the Apes,PG-13,170000000,710644566,2014-06-26,Science Fiction,130.0,7.6,395425.0
509,510,Guardians of the Galaxy,PG-13,170000000,773328629,2014-07-30,Action,121.0,8.0,978222.0

In [63]:
movies[(movies["genre"]=="Animation") & (movies["rating"] >7 )].shape[0] # shape[0] show only the number of rows  shape[1] shows only he number of columns

39

In [53]:
top = movies.nlargest(5,["budget"])
top

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
594,595,Avengers: Infinity War,PG-13,400000000,2048000000,2018-04-23,Action,149.0,6.9,240347.5
454,455,Pirates of the Caribbean: On Stranger Tides,PG-13,380000000,1045713802,2011-05-14,Action,136.0,6.6,455211.0
614,615,Avengers: Endgame,PG-13,356000000,-2147483648,2019-04-22,Action,181.0,6.9,240347.5
574,575,Star Wars: The Last Jedi,PG-13,317000000,1333000000,2019-12-09,Science Fiction,152.0,6.9,240347.5
375,376,Pirates of the Caribbean: At World's End,PG-13,300000000,961000000,2007-05-19,Adventure,169.0,7.1,565402.0

In [65]:
movies[(movies["genre"]=="Comedy")].nlargest(5,["rating"])

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
111,112,Forrest Gump,PG-13,55000000,677945399,1994-07-06,Comedy,142.0,8.8,1657851.0
185,186,The Truman Show,PG,60000000,264118201,1998-06-04,Comedy,103.0,8.1,859224.0
80,81,Groundhog Day,PG,14600000,70906973,1993-02-11,Comedy,101.0,8.0,549538.0
254,255,"Monsters, Inc.",G,115000000,562816256,2001-11-01,Comedy,92.0,8.0,758349.0
40,41,Fried Green Tomatoes,PG-13,11000000,119418501,1991-12-27,Comedy,130.0,7.7,62493.0

In [71]:
top = movies.nlargest(5,["rating"])[["title", "rating"]].reset_index(drop=True)
top.index = top.index +1
top

                                           title  rating
1                                The Dark Knight     9.0
2                               Schindler's List     8.9
3                              Jurassic Park III     8.9
4                                   Pulp Fiction     8.9
5  The Lord of the Rings: The Return of the King     8.9

In [56]:
movies["release_date"] = pd.to_datetime(movies["release_date"])

x = movies[(movies["genre"]=="Romance") & (movies["release_date"] > "1999-12-31")].nlargest(3,["gross"])
x
#x.nlargest(3,["gross"])

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
464,465,The Twilight Saga: Breaking Dawn - Part 2,PG-13,120000000,829000000,2012-11-13,Romance,115.0,5.5,218357.0
442,443,The Twilight Saga: Breaking Dawn - Part 1,PG-13,110000000,712171856,2011-03-15,Romance,117.0,4.9,211592.0
401,402,The Twilight Saga: New Moon,PG-13,50000000,709827462,2009-03-15,Romance,130.0,4.7,252223.0

In [73]:
movies["genre"].value_counts().iloc[[0,-1]]

genre
Action     110
History      4
Name: count, dtype: int64

In [58]:
movies[(movies["release_date"] > "1999-12-31")].nlargest(5,["budget"])

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
594,595,Avengers: Infinity War,PG-13,400000000,2048000000,2018-04-23,Action,149.0,6.9,240347.5
454,455,Pirates of the Caribbean: On Stranger Tides,PG-13,380000000,1045713802,2011-05-14,Action,136.0,6.6,455211.0
614,615,Avengers: Endgame,PG-13,356000000,-2147483648,2019-04-22,Action,181.0,6.9,240347.5
574,575,Star Wars: The Last Jedi,PG-13,317000000,1333000000,2019-12-09,Science Fiction,152.0,6.9,240347.5
375,376,Pirates of the Caribbean: At World's End,PG-13,300000000,961000000,2007-05-19,Adventure,169.0,7.1,565402.0

In [75]:
movies["mpaa_rating"].value_counts().iloc[[0,-1]]

#most_frq = x.idxmax()
#least_frq = x.idxmin()

#print(most_frq, x.max())
#print(least_frq, x.min())

mpaa_rating
PG-13    285
G         27
Name: count, dtype: int64

In [77]:

'''
most_expensive = average_budget.idxmax()
most_expensive_value = average_budget.max()

least_expensive = average_budget.idxmin()
least_expensive_value = average_budget.min()

print(most_expensive,most_expensive_value)
print(least_expensive, least_expensive_value)
'''
average_budget = movies.groupby("genre")["budget"].mean().iloc[[0,-1]]
average_budget

genre
Action     1.441682e+08
Western    7.983333e+07
Name: budget, dtype: float64

In [79]:
average_rating = movies.groupby("genre")["rating"].mean().sort_values(ascending=False)
print(average_rating)

best_rating = average_rating.idxmax()
best_rating_value = average_rating.max()

print(best_rating, best_rating_value)

genre
History            7.625000
War                7.355556
Fantasy            7.337037
Western            7.333333
Drama              7.193939
Science Fiction    7.151351
Animation          7.110345
Thriller           6.995122
Action             6.985455
Crime              6.876471
Mystery            6.827273
Horror             6.735714
Adventure          6.696667
Comedy             6.631313
Romance            6.400000
Family             6.117241
Name: rating, dtype: float64
History 7.625